.add-proposal-card {
    overflow-x: auto;
}

@media (min-width: 480px) {
    .add-proposal-submit-btn {
        margin-left: 100%;
    }
    .add-proposal-form {
        padding-left: 3em;
    }
}

@media (max-width: 480px) {
    .addobj-row-col {
        position: absolute;
        z-index: 1;
        margin-left: calc(100% - 82px);
        margin-top: 2.85em;
    }
    .add-act-row-col {
        position: absolute;
        z-index: 1;
        margin-left: calc(100% - 85px);
        margin-top: 2.85em;
    }
}
