:root {
    --light-blue: #1890FF;
}

.calendar-header {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.outline-icon {
    font-size: 20px;
    color: var(--light-blue);
}

.jump-to {
    display: inline-flex;
    margin-bottom: 3px;
}

.month-select-drop {
    width: 6em;
    margin-left: 5px;
}
.year-select-drop {
    width: 6em;
    margin-left: 5px;
}

.calendar-table-wrapper {
    overflow-x: auto;
}

.calendar-table {
    font-size: 15px;
}

.plan-cell {
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
}

@media (max-width: 480px) {
    .calendar-header {
        width: 60%;
    }
    .jump-to {
        display: block;
    }
    .calendar-table-wrapper {
        overflow-y: hidden;
    }
    .calendar-table-wrapper::after {
        content: '';
        display: block;
        position: absolute;
        width: 2em;
        height: 1px;
    }
}

@media (min-width: 786px) {
    .calendar-header {
        width: 20%;
    }
}

