.proposal-card {
    overflow-x: auto;
}

@media (max-width: 480px) {
    .proposal-table-wrapper {
        overflow-y: hidden;
    }
    .proposal-table-wrapper::after {
        content: '';
        display: block;
        position: absolute;
        width: 2em;
        height: 1px;
    }
}