.landing-container {
    background: linear-gradient(to bottom right, cyan,rgb(47, 34, 131));
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.register-basic {
    width: 35em;
    padding-top: .8em;
    margin-left: auto;
    margin-right: auto;
}

.register-profile {
    width: 35em;
    padding-top: 1.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.loginText {
    color: rgb(180, 179, 179);
    font-size: 1.2em;
    margin-top: .3em;
    margin-left: 6em;
}

.whiteText {
    color: white;
}

@media (max-width: 480px) {
    .register-basic {
        width: 24em;
    }
    .register-profile {
        width: 24em;
    }
    .loginText {
        margin-left: 2em;
    }
}

@media (min-width: 576px) {
    .register-btn {
        width: 75%;
        margin-left: 6.5em;
    }
}