.home-card {
    background-color: #f0f2f5;
}
.home-card > div.ant-card-body {
    padding: 0;
}

.gutter-row {
    margin-bottom: 8px;
}

.schedule-card {
    margin-top: 5px;
    overflow-x: auto;
}

.pending {
    background: linear-gradient(to right, #5cb85c, darkgreen);
    padding: 10px;
}

.approved {
    background: linear-gradient(to right, #0275d8, darkblue);
    padding: 10px;
}

.category-icon {
    float: right;
    z-index: 1;
    font-size: 4.5em;
    opacity: 1;
    color: #f0f2f5;    
}

.donors {
    background: linear-gradient(to right, rgb(255, 174, 0), darkorange);
    padding: 10px;
}

.narrative {
    background: linear-gradient(to right, rgb(98, 81, 144), rgb(47, 30, 93));
    padding: 10px;
}

.category-label {
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.category-value {
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.days-col {
    color: red;
    font-size: 1em;
}